@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

    *{
        margin: 0;
        padding:0;
        font-family:'Trebuchet MS';      
        box-sizing: border-box;
        font-family: 'Redressed', cursive;
        
    }

    body{
        /*background-image: url(images/landscape.jpg);
        background-position-x:center;
        background-size:cover;*/
        background-color:white;
        color:white;
        text-align:center;
    }
    .columntxt {
      float: left;
      width: 50%;
      padding: 10px;
      
    }

    .headshot{
        width:80%;margin-right:10px;border:3px solid white;border-radius: 20px;max-width:233px;max-height:317px;
    }

    .titleelement{
      padding-right:5vw;width:50%;
    }

    .txtTitle{ 
      font-weight:150;padding-top:12vw;padding-bottom: 15px;
      ;
    }
    .subtext{
      font-weight:100;font-size:1.5rem;}
    
    .heading{
        font-weight:200;font-size:2rem;
      }
      .background{
        font-weight:200;font-size:2rem;
      }


/*PROJECTS*/
    .allprojects{
      display:flex;flex-direction: column;justify-content: space-evenly;
      align-items: center;padding:5vw;
    }

    .projectTitle{
      font-weight:150;text-align:center;padding:20px;padding-top:50px;
      ;font-size:3rem;
    }
    .projecttxt{
      font-size:1.5rem
    }

    .bannerImg{
      height:100%;
    }

    .footerImg{
      width:20px;
    }

    .headtxt{
          font-size:3rem;font-weight:100;
        }

    .paragraph{
          font-size:1rem;
          padding-left:50px;
          padding-right:50px;
        }

    
    .ideationImg{
      height:300px;border:5px solid rgb(135,161,125);
      border-radius: 20px; 
    }

    .drawingImg{
      height:300px;border:5px solid rgb(135,161,125);
      border-radius: 20px; 
    }
    .drawingImgLeft{
      height:300px;border:5px solid rgb(135,161,125);
      border-radius: 20px; 
    }
    .drawingImgRight{
      height:300px;border:5px solid rgb(135,161,125);
      border-radius: 20px; 
    }

    .headOne{border-radius: 20px;
      position:absolute;top:865px;left:40vw;
      background-color: rgba(135, 161, 125);
      width:200px;height:60px;
    }

  
    .headTwo{border-radius: 20px;
      position:absolute;top:2360px;left:40vw;
      background-color: rgba(135, 161, 125);
      width:200px;height:60px;
    }
    

    .headThree{border-radius: 20px;
      position:absolute;top:3740px;left:40vw;
      background-color: rgba(135, 161, 125);
      width:200px;height:60px;
    }


    p.nxtProject{
      text-align: right;padding-right:50px;}



    a:visited{
        text-decoration: none;
        color:rgb(82, 109, 74);
    }

    a:link{
        /*text-decoration: underline;*/
        text-decoration: none;
        color:rgb(82, 109, 74);
    }

    /*div styles*/

    /*navigation for mobile
    div.nav{
        background-color: rgba(255, 255, 255, 0.5);
        height: 100vh;
        position:fixed;
        display:flex;
        flex-direction: column;
        line-height:1.5;
        text-align:left;
        font-size:5vw;
        padding:2vw;
        padding-top:3vh;
    }
*/
    /*navigation for pc
    div.nav{
        position:fixed;
        float:top;
        padding:2px;
        text-align:center;
        display:block;
        background-color:white;
        height:5vw;
        width:100%;
        font-size:1.3vw;
    }
    .navmin{width:100vw;position:fixed;padding-left:25vw;padding-right:20vw;padding-top:1.5vw;}*/


    .navbar{
        width:100vw;height:10vh;background-color: rgba(255, 255, 255);position:fixed;
        min-height:90px;z-index: 1;
    }


/*div styles*/
    div.title{
        margin:0;
        padding-top:50px;
        height:400px;
        width:100%;
        font-size:1.5rem;
       /* background-color: rgba(215, 239, 255, 0.377);*/
        overflow:hidden;
        display:flex;
        
        min-height:450px;
        
    }

    div.projectHead{
      margin:0;
      padding-top:100px;
      height:400px;
      width:100vw;
      font-size:2rem;
      overflow:hidden;
      background-color:rgb(135,161,125);
      text-align:center;
    }

    div.nxtProject{
      color:black;
      height:50px;width:100%;
    
    }

    div.about{
      display:flex
      ;
    }

    div.banner{
      width:100vw;height:200px;overflow: hidden;padding-bottom:50px;
    }

    div.break{
        height:42vh;
        min-height:400px;
        width:100%;
        background-color:white;
        color:black;
        padding-top:15px;
        padding-left:30px;padding-right:30px;
    }

    div.description{
      height:300px;
      width:100%;
      color:black;
      padding-top:15px;
      padding-left:30px;padding-right:30px;
  }
  


    div.project{
        height:200px;
        width:60vw;
        min-width:100px;
        color:white;
        background-color: rgba(255, 255, 255, 0.5);
        margin-bottom:50px;
        align-items:center;
        border-radius:20px;
          
    }
    div.whiteSpace{
      height:200px}

      div.container{
        height:600px;
      }

    

    div.button{
        text-align:center;
        height:3vw;
        width:9vw;
        border:2px solid white;
        border-radius:30px;
        float:right;
        background-color:white;
    }



    div.body{
        
        color:black;
        float:left;
        height:fit-content;
        font-size:2vw;
    }

    div.body.p{
        font-size:2vw;
    }

    div.footer
            {
                float:bottom;
                bottom: 0;
                width: 100%;
                height: 150px;
                background-color:white;
                text-align: center;
                color:black;

            }

    /*hover feature*/

    
     .hover-underline-animation {
       display: inline-block;
       position: relative;
       color:rgb(135,161,125);
       z-index: 0;
     } 
     
     .hover-underline-animation:after {
       content: '';
       position: absolute;
       width: 100%;
       transform: scaleX(0);
       height: 2px;
       bottom: 0;
       left: 0;
       background-color:rgb(135,161,125);
       transform-origin: bottom right;
       transition: transform 0.25s ease-out;
       
     }
     
     .hover-underline-animation:hover:after {
       transform: scaleX(1);
       transform-origin: bottom left;
     }




     /*navigation hamburger pop-out*/
     /*made with code from https://alvarotrigo.com/blog/hamburger-menu-css-responsive/*/
   
     .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s, visibility .35s, height .35s;
        overflow: hidden;
        background: black;
        z-index: -1;
    }

    #menu {
      display: block;
      height: 100px;
      width: 100%;
      background: white;
      margin: 0px;  
      z-index: 9;
    }
    
    #main-menu ul {
      max-width: 800px;
      width: 100%;
      height: 100%;
      margin: 0px auto;
      padding: 0px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      z-index: 9;
    }
    
    #main-menu li {
      list-style-type: none;
      font-size: 2rem;
    }
    
    #main-menu a {
      color: black;
      font-size: 1.5rem;
      text-decoration: none;
    }
    
    #main-menu a:hover {
      text-decoration: underline;
    }
    
    #hamburger-input{
      display: none;
    }
    
    #hamburger-menu {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 50px;
        height: 50px;
        display: none;
        border: none;
        padding: 0px;
        margin: 0px;
        background: linear-gradient(
          to bottom, 
          rgb(135,161,125), rgb(135,161,125) 20%, 
          rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 40%, 
          rgb(135,161,125) 40%, rgb(135,161,125) 60%, 
          rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 80%, 
          rgb(135,161,125) 80%, rgb(135,161,125) 100%
        );
        z-index: 2;
    }
    
    #hamburger-menu #sidebar-menu {
        position: fixed;
        top: 0;
        left: -250px;
        width: 200px;
        height: 100%;
        background-color: rgb(211,221,208);
        transition: 0.3s;
        padding: 0px 10px;
        box-sizing: border-box;
    }
    
    #hamburger-menu h3 {
      color: black;
      font-size: 2.5rem;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      padding-top:10px;
      padding-bottom:10px;
    }
    
    #hamburger-menu li {
      list-style-type: none;
      line-height: 3rem;
      text-align: left;
      padding-left:15px
      
    }
    
    #hamburger-menu a {
      color: black;
      font-size: 2rem;
      text-decoration: none;
      
    }
    
    
    #hamburger-input:checked + #hamburger-menu #sidebar-menu {
        visibility: visible;
        left: 0;
    }
    #hamburger-input:checked ~ .overlay{
       visibility: visible;
      opacity: 0.4;
      z-index:1;
    }


    #main-menu {
        display: none;
      }
      #hamburger-menu {
        display: inline;
      }



     /*media queries*/

     @media screen and (min-width: 768px) {
        
    /*    #sidebar-menu{
          background-color: rgba(255, 255, 255);
          position:fixed;
          display:flex;
          flex-direction: row;
          justify-content: space-around;
          float:top;
        padding-top:1vw;
        padding-left: 15vw;padding-right: 15vw;
        text-align:center;
        height:6vw;
        width:100%;
        font-size:3vw;
        }
      }*/
        

      div.project{
        float:left;
        height:25vw;
        min-height:175px;
        width:20vw;
        min-width:100px;
        color:white;
        background-color: rgba(255, 255, 255, 0.5);
        padding-right:1vw;
        padding-left:1vw;
        padding-bottom:5px;
        align-items:center;
        border-radius:20px;
          
      }

        div.title{
          min-height: fit-content;
            height:100vh;
            font-size: 3.5rem;
        } 

        .txtTitle{
            padding-right:5vw;font-weight:150;padding-top:15vw;max-width: 60vw;
            padding-top:0;
            

        }

        .titleelement{max-width:50vw;}
        .subtext{
            font-size: 3.5rem;
            padding-left:7vw
        }

        .paragraph{
          font-size:2rem;
          padding-right: 100px;
          padding-top:50px;
        }

        .bannerImg{
          height:300px
        }

        .footerImg{
            width:40px;
        }

        div.banner{
          height:300px;padding-bottom:0px;
        }


        /*Ideations Section--*/
        .ideationImg{
          height:500px;
          float:right;
          margin-right:200px;
          margin-top:100px;
        }

        div.container{
          height:1000px;
        }


        .drawingImg{
          height:500px;
        }
        
        
        .headtxt{
          font-size:4rem;
        }
        .headProject{border-radius: 30px;
          margin-top:250px;
          margin-left:150px;
          background-color: rgba(135, 161, 125);
          width:400px;height:80px;
                }

        
        div.break{
            height:60vh;
            width:100%;
            padding-top:5vw;
            padding-left:15vw;
            padding-right:15vw;
            font-size: 1.5rem;
            min-height:600px;
        }

        div.description{
          
          height:400px;padding-top:50px;
          
        }

        /*div.about{
            tbd
        }*/

        .headshot{
            float:right;width:100%;border:5px solid white;border-radius: 30px;max-width:292px;max-height:400px;
        }
        .heading{
          font-size:4rem;
        }
        .background{
          padding-top:100px;
          font-size:4rem;
        }

        .projecttxt{
          padding-top:2vw;
          font-size:2.3rem
        }
        .projectTitle{
          font-size:5rem;
        }

        div.projectHead{
          padding-top:200px;
          height: 600px;
          
        }

        .txtSub{
          font-size: 2.5rem;
          text-align:center;
        }
 
        .mainprojectimg{
            top:350px;left:50vw;
            width:40vh;
            border-radius: 30px;
            max-height:600px;max-width:571px
          }
        
        div.whiteSpace{
            height:25vh}
        

        div.footer{
          min-height: 150px;
        }

        .allprojects{
          flex-direction: row;


    }
  }

    /*@media screen and (min-width: 1300px) {
        .paragraph{
          padding-left:200px;
          padding-right:200px;
        }

    }


    @media screen and (min-width: 710px) {
      
      div.container{
        height:500px;
      }
      
      .headTwo{border-radius: 30px;
        top:3230px;right:40vw;width:250px;height:80px;
             }



    